<div class="row">
  <div class="span3 well">
    <h4><%= link_to song.title, google_search(song.title + " " + song.artist_name), target: "_blank" %><h4>
    <h5><%= link_to "Youtube Player", song, { remote: true } %></h5>
    Artist: <%= link_to song.artist_name, google_search(song.artist_name), target: "_blank" %>
    <%= render partial: "song_rates/form", locals: { song: song } %>
    <div id="<%= song.id %>">
    </div>
  </div>
</div>
