<footer class="footer">
  <small>
    <%= link_to "Music Discovery", '#' %> By Doyoung(shom83@gmail.com, 
    <%= link_to "Github", "https://github.com/SteamShon", target: "_blank" %>, 
    <%= link_to "Blog", "http://shom83.blogspot.kr/", target: "_blank" %>)
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Repo", 'https://github.com/SteamShon', target: "_blank" %></li>
    </ul>
  </nav>
</footer>
